
<div class="footer">
    <div class="row">
        <!--Columna 1-->
        <div class="col">
            <img class="logo" src="/img/logo.png" alt="Sketch Hub">    
            <p>SOMOS SKETCH HUB, UNA PLATAFORMA DEDICADA A OFRECERTE LOS MEJORES DISEÑOS 
            HECHOS POR DISEÑADORES CREATIVOS E INNOVADORES </p>
            </div>
        <!--Columna 2-->
        <div class="col">
            <h3>CATEGORIAS <div class="underline"><span></span></div> </h3>
            <p>DISEÑOS</p>
            <P>LOGOS</P>
            <P>PACKS</P>
            <P>PORTADAS</P>
            </div>
        <!--Columna 3-->
        <div class="col">
            <h3>POLITICAS Y PRIVACIDAD <div class="underline"><span></span></div></h3>
            <p>Términos y condiciones</p>
        </div>
        <!--Columna 4-->
        <div class="col">
            <h3>REDES SOCIALES <div class="underline"><span></span></div></h3>
            <div class="social-icons">
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-youtube"></i>
                <i class="fa-brands fa-tiktok"></i>
            </div>
        </div>
        
       </div>
       <hr>
       <div class="row">
        <p class="copyright">Copyright &copy; 2023 by Sketch Hub | All rights reserved</p>
         <div class="col">
    
         <a href="#"><i class="fas fa-arrow-up"></i></a>
            </div>
            </div>
    </div>
    <script type="text/javascript" src="js/script.js"></script>
    <script type="text/javascript" src="js/cart-script.js"></script>
    
    </body>
    <!--Recargar pagina al inicio-->
    <script>
        window.onload = function() {
            window.scrollTo(0, 0);
           
        }
    </script>
</body>
</html>