<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Icono-->
    <link rel="icon" href="/img/milogo.ico" type="image/x-icon">
    <!--estilos-->
   

    <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/carrito.css">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
   
    <!--JavaScript-->

    <title>Sketch Hub</title>
</head>
<body>
    <div class="header">
        <a href=" " class="logo">   
            <img class="img-logo" src="/img/logo.png" alt="Logo"><span class="animate" style="--i:1;"></span>
             <p class="bugfast">
                SKETC.H.UB<span class="animate" style="--i:2;"></span>
             </p>
        </a>
        <div class="fa-solid fa-bars" id="menu-icon"><span class="animate" style="--i:1;"></span>
        </div>
        <nav class="navbar">
            <a href="/"><i class="fas fa-home"></i>Inicio</a>
            <a href="/tienda"><i class="fa-solid fa-store"></i>Catálogo</a>
            <a href="/creadores"><i class="fa-solid fa-users"></i> Diseñadores</a>
            <a href="/perfil-creador"><i class="fa-solid fa-user"></i>Perfil</a > 
            <!--<a href="/acceder" id="login"><i class="fas fa-sign-in"></i>Acceder</a>-->
            <a href="#"><i class="fa-solid fa-cart-shopping" id="cart-icon">
            <span id="cart-count">0</span></i></a>

        <!--carrito-->
        
                <div class="cart"> 
                                        
                <h2 class="cart-title">Tu carrito</h2>  
        
                    
            <div class="cart-content">   
                      
                </div>
            
            <div class="total">
            <div class="total-title">
                    Total
                </div>
            <div class="total-price">
                    B/.0
                </div>
                </div>
                <a href="checkout.html">
                <button class="btn-buy">
                    FINALIZAR COMPRA
                    </button>
                    </a>
                
            <span class="animate" style="--i:2;"></span>  
            <!--cerrar carrito-->
            <i class="fa-solid fa-x" id="close-cart"></i>
            </div>
        <span class="animate" style="--i:2;"></span>  
            </nav> 
        </div>
