<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Agregar el enlace CSS de Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css">
    <title>Transacción Cancelada</title>
</head>
<body>
    <div class="container">
        <h1 class="mt-4">Transacción Cancelada</h1>
        <p>El pedido ha sido cancelado.</p>
        <a href="/" class="btn btn-primary">Volver a la página principal</a>
    
    </div>
    <!-- Agregar el script JS de Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.min.js"></script>
</body>
</html>
