<%- include('../sections/header'); %>

<!--Secciones-->
<section class="products">
    
    <div class="products-content">
        <h1>TU PEDIDO</h2>
        <hr>
      
        </div>

    


</section>


<%- include('../sections/footer'); %>