<%- include('../sections/header'); %>


<section class="users">
    <div class="users-content">
        <h1>Diseñadores</h2>
            <h3>Observa los diseñadores encargados de toda la magia de nuestra plataforma!</h3>
          <hr>
    </div>
    <div class="">
        
        <div class="container">
            
            <!--1-->
        <div class="user">
                <img class="user-img" src="/img/usuario.png" alt="Liquid Color Banner">
                <h2 class="user-title">DISEÑADOR <i class="fa-solid fa-check"></i></h2>
                <a href="/perfil-creador"><button class="ver-perfil" >Ver perfil</button></a> 
            </div>
            <!--2-->
            <div class="user">
                <img class="user-img" src="/img/usuario.png" alt="Liquid Color Banner">
                <h2 class="user-title">DISEÑADOR <i class="fa-solid fa-check"></i></h2>
                <a href="/perfil-creador"><button class="ver-perfil" >Ver perfil</button></a> 
            </div>

            <div class="user">
                <img class="user-img" src="/img/usuario.png" alt="Liquid Color Banner">
                <h2 class="user-title">DISEÑADOR <i class="fa-solid fa-check"></i></h2>
                <a href="/perfil-creador"><button class="ver-perfil" >Ver perfil</button></a> 
            </div>

            <div class="user">
                <img class="user-img" src="/img/usuario.png" alt="Liquid Color Banner">
                <h2 class="user-title">DISEÑADOR <i class="fa-solid fa-check"></i></h2>
                <a href="/perfil-creador"><button class="ver-perfil" >Ver perfil</button></a> 
            </div>

            <div class="user">
                <img class="user-img" src="/img/usuario.png" alt="Liquid Color Banner">
                <h2 class="user-title">DISEÑADOR <i class="fa-solid fa-check"></i></h2>
                <a href="/perfil-creador"><button class="ver-perfil" >Ver perfil</button></a> 
            </div>

            <div class="user">
                <img class="user-img" src="/img/usuario.png" alt="Liquid Color Banner">
                <h2 class="user-title">DISEÑADOR <i class="fa-solid fa-check"></i></h2>
                <a href="/perfil-creador"><button class="ver-perfil" >Ver perfil</button></a> 
            </div>
           
        </div>
    </div>
    
</section>

<%- include('../sections/footer'); %>