<%- include('../sections/header-editar'); %>

<section class="">
    <h1 class="mb-5">Ajustes de perfil</h1>
    <div class="container">
        
        <div class="bg-white shadow rounded-lg d-block d-sm-flex">
            <div class="profile-tab-nav border-right">
                <div class="p-4">
                    <div class="img-circle text-center mb-3">
                        <img src="/img/usuario.png" alt="Image" class="shadow">
                    </div>
                    <h4 class="text-center">Diseñador</h4>
                </div>
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="account-tab" data-toggle="pill" href="#account" role="tab" aria-controls="account" aria-selected="true">
                        <i class="fa fa-home text-center mr-1"></i> 
                        Cuenta
                    </a>
                    <a class="nav-link" id="password-tab" data-toggle="pill" href="#password" role="tab" aria-controls="password" aria-selected="false">
                        <i class="fa fa-key text-center mr-1"></i> 
                        Contaseña
                    </a>
                   
                </div>
            </div>
            <div class="tab-content p-4 p-md-5" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="account" role="tabpanel" aria-labelledby="account-tab">
                    <h3 class="mb-4"></h3>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                  <label>Nombre</label>
                                  <input type="text" class="form-control" value="Nombre..">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                  <label>Apellido</label>
                                  <input type="text" class="form-control" value="Apellido...">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                  <label>Correo</label>
                                  <input type="text" class="form-control" value="diseñador@gmail.com">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                  <label>Número de teléfono</label>
                                  <input type="text" class="form-control" value="+507">
                            </div>
                        </div>
                       
                      
                        <div class="col-md-12">
                            <div class="form-group">
                                  <label>Descripción</label>
                                <textarea class="form-control" rows="4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore vero enim error similique quia numquam ullam corporis officia odio repellendus aperiam consequatur laudantium porro voluptatibus, itaque laboriosam veritatis voluptatum distinctio!</textarea>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button class="btn btn-primary">Actualizar</button>
                        <button class="btn btn-light">Cancel</button>
                    </div>
                </div>
                <div class="tab-pane fade" id="password" role="tabpanel" aria-labelledby="password-tab">
                    <h3 class="mb-4">Password Settings</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                  <label>Contraseña anterior</label>
                                  <input type="password" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                  <label>Contraseña nueva</label>
                                  <input type="password" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                  <label>Confirmar contraseña</label>
                                  <input type="password" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div>
                        <button class="btn btn-primary">Update</button>
                        <button class="btn btn-light">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="btn-box">
        <h2>¿Quieres verificar tu cuenta como diseñador para empezar a vender tus diseños personales?</h2>
        <a class="btn" href="#tienda" >Obtén el verificado</a>
      
    </div>
</section>


<%- include('../sections/footer'); %>