
<%- include('../sections/header'); %>


<section class="bodyforget">
    <div class="olvidar">
       <form class="form2" method="post">
        <p>
            <h2>Recupera tu cuenta</h2>
        <label class="text" for="username">Correo electrónico&nbsp;<span class="required">*</span></label>
        <input type="text" class="user" name="username" id="username" autocomplete="username" value="" required/>			
        </p>
            <br><br>

          <div class="form-row">	
    
              <div class="btn-box2">
                <input class="btn2" href="#" type="submit"  name="enviar" value="Enviar">
                <a class="btn2" href="/perfil-creador" type="" name="cancel" value="cancel">Cancelar</a>
              </div>  
         </div>

        </form>
    </div>

  </section> 
  

<%- include('../sections/footer'); %>