
<%- include('../sections/header-login'); %>


<section class="bodylog">
    <div class="login">
       <h2>Inicio de Sesion</h2>
       <form action="/perfil-creador/login" class="form1" method="post">
        <p>
        <label class="text" for="username">Correo electrónico&nbsp;<span class="required">*</span></label>
        <input type="text" class="user" name="email" id="username" autocomplete="username" value="" required/>			
        </p>
        <p>
        <label class="text" for="password">Contraseña&nbsp;<span class="required">*</span></label>
        <input  type="password" class="pass" name="password" id="password" autocomplete="current-password" required/>
        </p>

            <br><br>
        <label >
        <input class="remenber" name="rememberme" type="checkbox" id="rememberme" value="forever" /> <span>Recuérdame</span>
          </label>

        <div class="form-row">
        
        		
    
        <div class="btn-box2">
                    <input class="btn2" href="#" type="submit"  name="login" value="Acceder" onclick="cambiarNavbar()">
                    <a class="btn2" href="#registro" type="submit" name="registrarse" value="registro">Registrarse</a>
            
        </div>

    
<br>
            
        <p >
            <a class="olvide" href="/olvide">¿Olvidaste la contraseña?</a>
        </p>
        
    </div>
        </form>
    </div>


  </section> 
  <section class="bodylog1">  
    <div id="registro" class="register">
        <h2>Registrate!</h2>

		<form action="/perfil-creador/validar" class="form2" method="post" >	


            <p>
                <label class="text1" for="tipo-usuario">Tipo de usuario &nbsp;<span class="required">*</span></label>
                <select id="tipo-usuario" name="reg_tipo_usuario" class="styled-select">
                    <option value="Diseñador">Diseñador</option>
                    <option value="Comprador">Comprador</option>
                </select>
            </p>

            <p>
                <label class="text" for="reg_username">Nombre&nbsp;<span class="required">*</span></label>
                <input type="text" class="user" name="reg_name" id="reg_name" autocomplete="name" value="" required/>				
            </p>
            <p>
                <label class="text" for="reg_username">Apellido&nbsp;<span class="required">*</span></label>
                <input type="text" class="user" name="reg_lastname" id="reg_lastname" autocomplete="lastname" value="" required/>				
            </p>
            <p>
                <label class="text" for="reg_email">Dirección de correo electrónico&nbsp;<span class="required">*</span></label>
                <input type="email" class="email" name="reg_email" id="reg_email" autocomplete="email" value="" required/>			
            </p>
            
            <p>
                <label class="text" for="reg_password">Contraseña&nbsp;<span class="required">*</span></label>
                <input type="password" class="pass" name="reg_password" id="reg_password" autocomplete="new-password" required/>
            </p>
            <p>
                <label class="text" for="reg_phone">Telefono&nbsp;<span></span></label>
                <input type="text" class="user" name="reg_phone" id="reg_phone" autocomplete="phone" value="" />				
            </p>

            <p>
                <label class="text" for="reg_direccion">Dirección&nbsp;<span></span></label>
                <input type="text" class="user" name="reg_direccion" id="reg_direccion" autocomplete="direccion" value="" />				
            </p>
            <p>
                <label class="text" for="reg_city">Ciudad&nbsp;<span></span></label>
                <input type="text" class="user" name="reg_city" id="reg_city" autocomplete="city" value="" />				
            </p>
            <p>
                <label class="text" for="reg_estado">Estado&nbsp;<span></span></label>
                <input type="text" class="user" name="reg_estado" id="reg_estado" autocomplete="estado" value="" />				
            </p>
            <p>
                <label class="text" for="reg_postal">Codigo Postal&nbsp;<span></span></label>
                <input type="text" class="user" name="reg_postal" id="reg_postal" autocomplete="postal" value="" />				
            </p>

            <p>
                <label class="text" for="reg_photo">Foto&nbsp;<span></span></label>
                <input type="file" class="user" name="reg_photo" id="reg_photo" accept="image/*" autocomplete="postal" value="" />				
            </p> 
              
            <br><br>
            <p>
                <div class="btn-box2">
                    <input class="btn2" name="registrarse" class="btn2" type="submit" value="Registrarse">  
                </div> 
            </p>
        </form>
    </div>
</section>




<!---
<section class="perfil">
    <div class="perfil-content">
        <h1>Perfil</h2>
            <hr>
            <img class="usuario-img" src="/img/usuario.png" alt="Usuario">
            <h2>Diseñador <i class="fa-solid fa-check"></i></h2>
            <div class="btn-box">
                <a href="/editar-perfil" class="btn">Editar Perfil</a>
            </div>
            <hr>
    </div>
    <h2>Portafolio personal</h2>
    <div class="diseñador-container">
        <--1--
        <div class="product">
            <img class="product-img" src="/img/producto1.jpg" alt="Liquid Color Banner">
            <h2 class="product-title">LIQUIDCOLOR BANNER</h2>


        </div>


        <div class="product">
            <img class="product-img" src="/img/producto2.jpg" alt="Liquid Color Banner">
            <h2 class="product-title">MSA PACK GFX</h2>


        </div>
        <!-3--
        <div class="product">
            <img class="product-img" src="/img/producto3.jpg" alt="Liquid Color Banner">
            <h2 class="product-title">TWITCH BANNER - WARZONE</h2>


        </div>
        <--4--
        <div class="product">
            <img class="product-img" src="/img/producto4.jpg" alt="Liquid Color Banner">
            <h2 class="product-title">URBAN COLOR BANNER</h2>


        </div>
        <--5--
        <div class="product">
            <img class="product-img" src="/img/producto5.png" alt="Liquid Color Banner">
            <h2 class="product-title">PACK DE TEXTOS 3D</h2>


        </div>
        <--6--
        <div class="product">
            <img class="product-img" src="/img/producto6.jpg" alt="Liquid Color Banner">
            <h2 class="product-title">PACK HISTORIAS - WARZONE</h2>


        </div>


    </div>

</section>-->
<%- include('../sections/footer'); %>