
<%- include('../sections/header'); %>


<section class="perfil">
    <div class="perfil-content">
        <h1>Perfil</h2>
            <hr>
            <img class="usuario-img" src="/img/usuario.png" alt="Usuario">
            <h2>Diseñador <i class="fa-solid fa-check"></i></h2>
            <div class="btn-box">
                <a href="/editar-perfil" class="btn">Editar Perfil</a>
            </div>
            <hr>
    </div>
    <h2>Portafolio personal</h2>
    <div class="diseñador-container">
        <!--1-->
        <div class="product">
            <img class="product-img" src="/img/producto1.jpg" alt="Liquid Color Banner">
            <h2 class="product-title">LIQUIDCOLOR BANNER</h2>


        </div>


        <div class="product">
            <img class="product-img" src="/img/producto2.jpg" alt="Liquid Color Banner">
            <h2 class="product-title">MSA PACK GFX</h2>


        </div>
        <!--3-->
        <div class="product">
            <img class="product-img" src="/img/producto3.jpg" alt="Liquid Color Banner">
            <h2 class="product-title">TWITCH BANNER - WARZONE</h2>


        </div>
        <!--4-->
        <div class="product">
            <img class="product-img" src="/img/producto4.jpg" alt="Liquid Color Banner">
            <h2 class="product-title">URBAN COLOR BANNER</h2>


        </div>
        <!--5-->
        <div class="product">
            <img class="product-img" src="/img/producto5.png" alt="Liquid Color Banner">
            <h2 class="product-title">PACK DE TEXTOS 3D</h2>


        </div>
        <!--6-->
        <div class="product">
            <img class="product-img" src="/img/producto6.jpg" alt="Liquid Color Banner">
            <h2 class="product-title">PACK HISTORIAS - WARZONE</h2>


        </div>


    </div>

</section>
<%- include('../sections/footer'); %>