<!---<%- include('../sections/header-login'); %>

<section class="bodylog">  
    <div class="register">
        <h2>Registrate!</h2>

		<form class="form2" method="post">	
            <p >
                <label class="text"s for="reg_username">Nombre&nbsp;<span class="required">*</span></label>
                <input type="text" class="user" name="name" id="reg_name" autocomplete="name" value="" required/>				
            </p>
            <p >
                <label class="text" for="reg_username">Apellido&nbsp;<span class="required">*</span></label>
                <input type="text" class="user" name="lastname" id="reg_lastname" autocomplete="lastname" value="" required/>				
            </p>
			<p >
					<label class="text" for="reg_username">Nombre de usuario&nbsp;<span class="required">*</span></label>
					<input type="text" class="user" name="username" id="reg_username" autocomplete="username" value="" required/>				
                </p>

			
			<p >
				<label class="text" for="reg_email">Dirección de correo electrónico&nbsp;<span class="required">*</span></label>
				<input type="email" class="email" name="email" id="reg_email" autocomplete="email" value="" required/>			
            </p>

			
		    <p >
					<label class="text" for="reg_password">Contraseña&nbsp;<span class="required">*</span></label>
					<input type="password" class="pass" name="password" id="reg_password" autocomplete="new-password" required/>
				</p>
<br><br>
			<p >
                <div class="btn-box2">
                    
                    <a class="btn2" href="registro.html" type="submit" name="registrarse" value="registro">Registrarse</a>
                  
                </div> 
			</p>
		</form>

    </div>
</section>

<%- include('../sections/footer'); %>